  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap');

  :root {
      --primary: hsl(345, 95%, 68%);
      --secondary: hsl(237, 18%, 59%);
      --white: hsl(0, 0%, 100%);
      --dark: hsl(236, 21%, 26%);
      --semi-dark-blue: hsl(235, 16%, 14%);
      --dark-blue: hsl(234, 17%, 12%);
      --bg-light: hsl(349, 85%, 3%);
      --dark-gray: hsl(235, 16%, 14%)
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: 'Red Hat Text', sans-serif;
      /* overflow: hidden; */
      position: relative;
      background: url("../images/pattern-hills.svg") bottom no-repeat, url("../images/bg-stars.svg"), linear-gradient(var(--dark-blue), var(--semi-dark-blue) 40%, var(--bg-light) 100%);
      background-size: contain;
      font-size: 14px;
  }

  .main-section {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }

  .main-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  header .notify-text {
      margin-bottom: 100px;
      font-size: 1.6rem;
      color: var(--white);
      letter-spacing: 6px;
      font-weight: 500;
      text-align: center;
  }

  /* count down container css */
  .main-wrapper .count-down-container {
      display: flex;
      justify-content: center;
  }

  .main-wrapper .count-down-page-wrapper {
      margin: 0px 20px;
  }

  .main-wrapper .count-down-card {
      width: 180px;
      transform-origin: center center;
      text-align: center;
  }

  .main-wrapper .widget-card {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 70px;
      color: var(--primary);
      height: 180px;
      width: 180px;
      background-color: var(--dark);
      border-radius: 12px;
      box-shadow: 0px 10px 0px var(--dark-blue);
  }

  .main-wrapper .widget-card::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      z-index: 1;
      background-color: var(--dark-blue);
      opacity: 0.3;
  }

  .main-wrapper .widget-card::before {
      content: '';
      position: absolute;
      top: 0;
      height: 50%;
      width: 100%;
      opacity: 0.2;
      background-color: var(--dark-gray);
      z-index: 1;
      transform-origin: top center;
      transition: all 0.4s;
      transform: rotate(0deg);
  }



  .main-wrapper .details-title {
      font-size: 64px;
      font-weight: bold;
  }

  .main-wrapper .widget-title {
      margin-top: 2rem;
      letter-spacing: 8px;
      color: var(--secondary);
      text-transform: uppercase;
  }

  .main-wrapper .semi-circle {
      position: absolute;
      width: 20px;
      z-index: 99999999;
      height: 10px;
      background-color: var(--dark-blue);
      border-radius: 10px 10px 0 0;
  }

  .main-wrapper .semi-circle.left {
      top: 48%;
      left: -6px;
      transform: rotate(90deg);
  }

  .main-wrapper .semi-circle.right {
      top: 48%;
      right: -6px;
      transform: rotate(-90deg);
  }

  .text-center {
      text-align: center;
  }

  footer {
      width: 100%;
      text-align: center;
      padding-bottom: 30px;
      padding-top: 100px;

      .copy-write {
          padding-top: 20px;
          color: var(--white);
      }

      .copy-write-items {
          color: var(--primary);
      }

  }

  footer .social-icons {
      position: relative;
      z-index: 999;
      padding: 0px 20px;
      transition: all 0.3s;
      font-size: 1.8rem;
      text-decoration: none;
      color: var(--secondary);
  }

  footer .social-icons:hover {
      color: var(--primary);
  }

  @media (max-width: 991px) {
      .main-wrapper .count-down-card {
          width: 130px;
      }

      .main-wrapper .widget-card {
          height: 130px;
          width: 130px;
      }
  }

  /* // Small devices (landscape phones, 576px and up) */
  @media (max-width: 576px) {
      body {
          background-size: auto;
      }

      .main-wrapper .count-down-container {
          width: 100%;
      }

      .main-wrapper .widget-card {
          height: 20px;
          width: 20px;
      }

      .main-wrapper .details-title {
          font-size: 2rem;
      }

      .main-wrapper .count-down-card {
          width: 70px;
      }

      .main-wrapper .widget-card {
          height: 70px;
          width: 70px;
          box-shadow: 0px 8px 0px var(--dark-blue);
      }

      .main-wrapper .widget-title {
          margin-top: 1.25rem;
          letter-spacing: 1px;
          font-size: 0.85rem;
      }

      footer .social-icons {
          font-size: 1.5rem;
      }

  }

  @media (max-width: 768px) {
      .main-wrapper .count-down-page-wrapper {
          margin: 0 10px;
      }
  }

  /* animation css */
  /* .animation-card {
      position: relative;
  } */

  .animation-card .widget-card {
      position: relative;
  }

  .widget-card .flip-card:nth-child(1) {
      display: none;
      font-size: 64px;
      font-weight: bold;
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 50%;
      top: 0;
      background-color: var(--dark);
      animation: flip-down-front 300ms ease-in both;
      /* opacity: 0.; */
      z-index: 99999;
      /* animation: flip 5s; */
      animation-iteration-count: 5;
      transform-origin: bottom center;
  }

  .widget-card .flip-card:nth-child(1)::before {
      content: attr(filp-front-data);
      position: absolute;
      transform: translate(-50%, -50%);
      top: 100%;

  }

  .widget-card .flip-card:nth-child(2) {
      display: none;
      font-size: 64px;
      font-weight: bold;
      position: absolute;
      width: 100%;
      height: 50%;
      top: 50%;
      z-index: 999999;
      transform: rotateY(180deg);
      background-color: var(--dark);
      animation: flip-down-back 300ms ease-in both;
      /* animation-iteration-count: 5; */
  }

  .widget-card .flip-card:nth-child(2)::before {
      content: attr(filp-front-data);
      position: absolute;
      transform: translate(-50%, -50%) rotateZ(180deg);
  }


  @keyframes flip-down-front {
      0% {
          transform: rotateX(0deg);
      }

      100% {
          transform: rotateX(-180deg);
      }
  }

  @keyframes flip-down-back {
      0% {
          transform: rotateY(180deg) rotateX(0deg);
      }

      100% {
          transform: rotateY(180deg) rotateX(180deg);
      }
  }