@font-face {
  font-family: 'count-down';
  src:  url('fonts/count-down.eot?6hx4gh');
  src:  url('fonts/count-down.eot?6hx4gh#iefix') format('embedded-opentype'),
    url('fonts/count-down.ttf?6hx4gh') format('truetype'),
    url('fonts/count-down.woff?6hx4gh') format('woff'),
    url('fonts/count-down.svg?6hx4gh#count-down') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'count-down' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-pinterest:before {
  content: "\e902";
}
